<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />
	
	<title>Weekly Eats</title>
  
	<!-- Included CSS Files -->
	<link rel="stylesheet" href="stylesheets/foundation.css">
	<link rel="stylesheet" href="stylesheets/app.css">
	

	<!--[if lt IE 9]>
		<link rel="stylesheet" href="stylesheets/ie.css">
	<![endif]-->

	
	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>
<body>
	
	<!-- Included JS Files -->
	<script src="javascripts/foundation.js"></script>
	<script src="javascripts/app.js"></script>

	<!-- Facebook Share Script -->
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) {return;}
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=270750379638433";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	

		<!-- container -->
		<div class="container">

			<!-- HEADER CODE -->
			<div class="row">
				<div class="four columns">
					<br>
					<img src='stylesheets/custom_images/logo.png' alt="Weekly Eats">
					<br><br><br>
				</div>
			</div>
	

			<div class="row">
				<div class="ten columns centered">
					<div class="panel" align=center>

						<!-- NAVIGATION PANEL -->
						<a href="dashboard.html">
							<img src="stylesheets/custom_images/RecipeActiveButton.png" alt="Recipes">
						 </a>
						<a href="shoppingList.html">
							<img src="stylesheets/custom_images/ShoppingInactiveButton.png" alt="Recipes">
						 </a>
						 <a href="healthStats.html">
							<img src="stylesheets/custom_images/StatsInactiveButton.png" alt="Recipes">
						 </a>
						
						<br><br>
				
						<h3>My what wonderful taste you have!</h3><br>
						
						<!-- NEW LINE -->

						<div class="row" align=center>
							<div class="two columns">
								<img src="images/foodPlaceholder.jpeg">
							</div>
							
							<div class="eight columns">
								
									<h4 align="left">Recipe Title</h4>
									<p align="left">
										Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.

										Nullam id dolor id nibh ultricies vehicula ut id elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam id dolor id nibh ultricies vehicula ut id elit.

										Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod. Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod.
										 </p>
							
							<div class="row">
								<img src="images/makingThis.png" align="middle">
								<br>			
								<img src="images/social.png" align="middle">
								
								<!--
								<div class="fb-like" data-href="INSERT_RECIPE_URL_HERE" data-send="true" data-width="450" data-show-faces="true"></div>
								-->							
								</div>

			
							<br><br><br>
							
							</div>

							<div class="two columns">
								<img src="images/check.png" width="30px" height="30px">
								<img src="images/cross.png" width="30px" height="30px">
							</div>
						</div>
						
					
						
						
					</div>					
				</div>
			
		</div>


	
</body>
</html>
